.background-image {
  background-image: url("@/assets/img/header_bg.jpg");
  @extend %background-image;
  background-position: center center;
}
.header-container {
  display: flex;
  align-items: center;
}
.columna1-header {
  width: 75%;
}
.header-text {
  padding-top: 100px;
}
.columna2-header {
  position: relative
}
.columna2-header img {
  float: right;
  position: absolute;
  width: auto;
  right: 0px;
  padding: 2px;
}
.insta-icon {
  bottom: 38%;
}
.fb-icon {
  top: 38%;
}
.header2-img {
  position: absolute;
  top: 1;
  z-index: -2;
}
#aysen {
  padding: 260px 5px 130px;
  word-wrap: break-word;
}
.landscape-img {
  padding: 0px 10px;
}
.desc-text {
  padding: 40px;
}