.background-image2 {
  background-image: url("@/assets/img/header_bg_2.jpg");
  @extend %background-image;
}
#beneficios {
  padding: 10px 100px;
}
#invertir {
  padding: 200px 0px;
}
.card-text {
  padding: 25px 70px;
}
.card-cont {
  width: 350px;
  margin: auto;
}
.background-map {
  background-image: url("@/assets/img/map_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}
.cta-cont {
  padding: 100px 200px;
  margin: 0px;
  @media (max-width: 800px) {
    padding: 100px 100px;
  }
}
.row {
  margin: 0px;
}