.background-image2 {
  background-image: url("@/assets/img/header_bg_2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}
#invertir {
  padding: 200px 0px;
}
.card-text {
  padding: 25px 80px;
}
.card-cont {
  width: 350px;
  margin: auto;
}