@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@font-face {
  font-family: 'STIXGeneralRegular';
  src: url('~@/assets/fonts/STIXGeneral-Regular.ttf') format('truetype');
}

$color-font: #fff;
$primary-color: #46AC94;

$stix-font: 'STIXGeneralRegular';
$lato-font: 'Lato', sans-serif;
$montse-font: 'Montserrat', sans-serif;

%stix-font-bold {
  font-family: $stix-font;
  color: $color-font;
  font-weight: bold;
}
%montse-font-bold {
  font-family: $montse-font;
  font-weight: 700;
  color: $color-font;
}
%montse-font-light {
  font-family: $montse-font;
  font-weight: 300;
  color: $color-font;
}